<!doctype html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap-reboot.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-grid.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>εxodus</title>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <object width="50px" style="margin-bottom:-15px" data="/static/img/logo_purple.svg" type="image/svg+xml">
        </object>
        <span class="h2">εxodus</span> <span class="small text-muted">v1.1</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="dropdown">
            <button class="btn nav-item btn-info dropdown-toggle" type="button" id="ep_dd"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exodus Privacy
            </button>
            <div class="dropdown-menu" aria-labelledby="ep_dd">
                <a class="dropdown-item" target="_blank" href="https://exodus-privacy.eu.org">Home</a>
                <a class="dropdown-item" target="_blank" href="https://exodus-privacy.eu.org/#help">Help us!</a>
                <a class="dropdown-item" target="_blank" href="https://github.com/Exodus-Privacy/exodus/issues">Report an issue</a>
            </div>
        </div>
        &nbsp;
        <div class="dropdown">
            <button class="btn nav-item btn-secondary dropdown-toggle" type="button" id="reports_dd"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reports
            </button>
            <div class="dropdown-menu" aria-labelledby="reports_dd">
                <a class="dropdown-item" href="/reports/">All reports</a>
                <a class="dropdown-item" href="/reports/apps/">All applications</a>
                <a class="dropdown-item" href="/reports/stats/">Statistics</a>
            </div>
        </div>
        &nbsp;
        <div class="dropdown">
            <button class="btn nav-item btn-secondary dropdown-toggle" type="button" id="trackers_dd"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trackers
            </button>
            <div class="dropdown-menu" aria-labelledby="trackers_dd">
                <a class="dropdown-item" href="/trackers/">List</a>
            </div>
        </div>
        &nbsp
        <div class="dropdown">
            <button class="btn nav-item btn-secondary dropdown-toggle" type="button" id="analysis_dd"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Analysis
            </button>
            <div class="dropdown-menu" aria-labelledby="analysis_dd">
                {% if request.user.is_superuser %}
                    <a class="dropdown-item" href="/analysis/">List</a>
                {% endif %}
                <a class="dropdown-item" href="/analysis/submit/">Submit</a>
            </div>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid">
    {% block content %}
    <div class="row justify-content-md-center">
        <div class="col-lg-6 col-centered">
            <div class="form-group jumbotron text-center">
                <h1>Welcome on the εxodus privacy auditing platform.</h1>
                <img src="/static/img/logo_purple_without_text.png" alt="">
                <hr>
                <div>
                    This platform is meant to automatically analyze Android applications.
                    It generates reports listing embedded trackers and (if possible)
                    associated network traffic.
                </div>
                <hr>
                <div>
                    Find us on Mastodon: <a href="https://framapiaf.org/@exodus">@exodus</a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</div>

<script src="{% static "js/jquery-3.2.1.min.js" %}" ></script>
<script src="{% static "js/popper.min.js" %}" ></script>
<script src="{% static "js/bootstrap.min.js" %}" ></script>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% block scripts %}
{% endblock %}
</body>
</html>