[Unit]
Description=Exodus scheduler
After=network.target

[Service]
User=exodus
Group=exodus
Environment=DJANGO_SETTINGS_MODULE=exodus.settings.production
WorkingDirectory=/home/exodus/exodus/exodus/
ExecStart=/home/exodus/exodus/venv/bin/celery -A exodus.core beat -S django
StandardOutput=journal
StandardError=inherit
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
