[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
androguard = "*"
beautifulsoup4 = "*"
celery = "*"
django = "*"
django-celery-beat = "*"
django-environ = "*"
django-eventlog = "*"
django-minio-storage = "*"
djangorestframework = "*"
exodus-core = "*"
google-play-scraper = "*"
gunicorn = "*"
mistune = "*"
psycopg = "*"
requests = "*"
protobuf = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"
django-csp = "*"
flake8 = "*"
