{% load i18n %}
<div class="row justify-content-center mb-4">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-4 d-flex align-items-center">
    <img src="/static/img/logo_purple_small.svg" class="mx-auto d-block img-fluid">
  </div>
  <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 text-center">
    <h1 class="main-title">εxodus</h1>
    <h5><b>{% trans "The privacy audit platform for Android applications" %}</b></h5>
  </div>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-lg-8 col-sm-12">
    <div class="form-group">
      {% csrf_token %}
      <h4>{% trans "Search a report" %}</h4>
      <label for="query">{% trans "Application name" %}</label>
      <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" id="query" aria-describedby="query_help" placeholder="fr.meteo">
        <div class="input-group-append">
          <span class="input-group-text" id="query_help">
            <small><img src="/static/img/search.svg"></img></small>
          </span>
        </div>
      </div>
      <small class="form-text text-muted text-center mb-4">{% trans "Here you can search for an application using its name or handle" %}
        <i>i.e.</i> <b>fr.meteo</b>
      </small>
      <div id="go-div" class="row justify-content-center">
        <div class="col-6 col-md-4">
          <button id="go" class="btn btn-secondary btn-block">{% trans "Let's go!" %}</button>
        </div>
      </div>
      <h4 style="display: none" id="results-title">{% trans "Results" %}</h4>
      <div id="results" style="display: none">
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-lg-8 col-sm-12">
    <p class=mb-4>{% trans "εxodus analyzes Android applications in order to <b>list the embedded trackers.</b>" %}</p>
    <p class="mb-4">{% trans "A tracker is a piece of software <b>meant to collect data about you or your usages.</b> So, εxodus reports tell you what are the ingredients of the cake." %}</p>
    <p>{% trans "εxodus does not decompile applications, its analysis technic is legal." %}</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-8 col-sm-12">
    <h4>{% trans "Need an overview?" %}</h4>
  </div>
</div>
<div class="row justify-content-center mb-4">
  <div class="col-lg-6 col-sm-8 text-right">
    <a href="{% url 'reports:index' %}" class="link main-link">{% trans "Latest reports" %}</a>
  </div>
</div>
<div class="row justify-content-center mb-4">
  <div class="col-lg-6 col-sm-8 text-right">
    <a href="{% url 'reports:index' %}?filter=no_trackers" class="link main-link">{% trans "No known trackers" %}</a>
  </div>
</div>
<div class="row justify-content-center mb-4">
  <div class="col-lg-6 col-sm-8 text-right">
    <a href="{% url 'reports:index' %}?filter=most_trackers" class="link main-link">{% trans "Most trackers" %}</a>
  </div>
</div>

{% verbatim %}
<script id="tpl" style="display:none;" type="text/x-handlebars-template">
  <div class="container">
    {{#unless results.length}}
      {% endverbatim %}<h5>{% trans "No results found." %}</h5>{% verbatim %}
    {{/unless}}
    {{#each results}}
      <br>
      <div class="row position-relative">
        <div class="col-3 col-md-2">
          <img class="rounded" src="/reports/{{id}}/icon" width="50px">
        </div>
        <div class="col-9 col-md-10 text-truncate d-flex align-items-center position-static">
          <a href="/reports/{{handle}}/latest" class="stretched-link report-link">
            {{#if name}}
              {{name}}
            {{else}}
              {{handle}}
            {{/if}}
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</script>
{% endverbatim %}

<script>
  const tpl_source = document.getElementById("tpl").innerHTML;
  const tpl = Handlebars.compile(tpl_source);
  jQuery(function() {
    jQuery("#query").focus();
  });
  const display_results = function(results) {
    jQuery("#go-div").hide()
    jQuery("#results").hide()
    jQuery("#results-title").hide()
    jQuery("#results").html("")
    jQuery("#results").html(tpl(results))
    jQuery("#results").show()
    if(results.results.length > 0){
      jQuery("#results-title").show()
    }
  }
  jQuery.fn.enterKey = function (fnc) {
    return this.each(function () {
      $(this).keypress(function (ev) {
        var keycode = (ev.keyCode ? ev.keyCode : ev.which);
        if (keycode == '13') {
          fnc.call(this, ev);
        }
      })
    })
  }
  const get_results = function(query, limit) {
    jQuery.ajax({
      type: 'POST',
      url: "/api/search",
      data: '{"type": "application", "query":"'+query+'", "limit":'+limit+'}',
      success: display_results,
      contentType: "application/json",
      dataType: 'json'
    })
  }
  jQuery("#go").on("click", function() {
    const query = jQuery.trim(jQuery("#query").val())
    get_results(query, 50)
  })
  jQuery("#query").on("change paste keyup", function() {
    const query = jQuery.trim(jQuery(this).val())
    if(query.length >= 5) {
      get_results(query, 20)
    }
    if(query == '') {
      jQuery("#go-div").show()
      jQuery("#results").hide()
      jQuery("#results-title").hide()
    }
  });
  jQuery("#query").enterKey(function() {
    const query = jQuery.trim(jQuery("#query").val())
    get_results(query, 50)
  });
</script>
