<div class="row justify-content-md-center">
    <div class="col-lg-7 col-sm-12 col-centered">
            <div class="form-group jumbotron">
                {% csrf_token %}
                <h1 class="text-center">Search</h1>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control text-center" id="query" name="query" aria-describedby="query_help"
                       placeholder="fr.meteo">
                    <span class="input-group-btn">
                        <button id="go" class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>

                <small id="query_help" class="form-text text-muted text-center">Here you can search for an application
                    using its name or handle <i>i.e.</i> <code><b>fr.meteo</b></code><br>
                </small>
                <br>

                <h2 style="display: none" id="results-title">Results</h2>
                <div id="results" style="display: none" class="">
                </div>

            </div>
    </div>
</div>

{% verbatim %}
<script id="tpl" style="display:none;" type="text/x-handlebars-template">
<table class="table table-hover table-responsive">
{{#each results}}
    <tr class="">
        <td class="col-md-2">
            <img src="/reports/{{id}}/icon" width="50px">
        </td>
        <td class="col-md-10 text-truncate text-left">
            <a href="/reports/search/{{handle}}">
                {{#if name}}
                    {{name}}
                {{else}}
                    {{handle}}
                {{/if}}
            </a>
        </td>
    </tr>
{{/each}}
</table>
</script>
{% endverbatim %}

<script>
const tpl_source   = document.getElementById("tpl").innerHTML;
const tpl = Handlebars.compile(tpl_source);

const display_results = function(results) {
    jQuery("#results").hide()
    jQuery("#results-title").hide()
    if(results.results.length > 0){
        jQuery("#results").html(tpl(results))
        jQuery("#results").show()
        jQuery("#results-title").show()
    }
}

const get_results = function(query, limit) {
    jQuery.ajax({
        type: 'POST',
        url: "/api/search",
        data: '{"type": "application", "query":"'+query+'", "limit":'+limit+'}',
        success: display_results,
        contentType: "application/json",
        dataType: 'json'
    })
}
jQuery("#go").on("click", function() {
    const query = jQuery.trim(jQuery("#query").val())
    get_results(query, 50)
})

jQuery("#query").on("change paste keyup", function() {
    const query = jQuery.trim(jQuery(this).val())
    if(query.length >= 5) {
        get_results(query, 20)
    }
});

</script>