{% load i18n %}
<div class="row justify-content-center mb-5">
  <div class="col-lg-8 col-sm-12">
    <div class="form-group">
      <h4>{% trans "Search a report" %}</h4>
      <label for="query"><b>{% trans "Application name" %}</b></label>
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="query_help">
            <small><img src="/static/img/search.svg" alt="search"></small>
          </span>
        </div>
        <input type="text" class="form-control" id="query" aria-describedby="query_help">
      </div>
      <small class="form-text text-muted mb-4">
        {% trans "You can search for an application using its name, handle or Google Play URL" %}
        <br>
        <i>{% trans "ex:" %} <b>Meteo France</b> {% trans "or" %} <b>fr.meteo</b> {% trans "or" %}
          <b>https://play.google.com/store/apps/details?id=fr.meteo</b></i>
        <br>
        {% blocktrans trimmed with url='<a target="_blank" rel="noreferrer" href="https://play.google.com/store/apps">Google Play</a>' %}
          Cannot find the application? Search it in {{ url }}.
        {% endblocktrans %}
      </small>
      <div id="go-div" class="row justify-content-center">
        <div class="col-8 col-sm-7 col-md-6 col-xl-5">
          <button id="go" class="btn btn-primary btn-block">{% trans "Let's go!" %}</button>
        </div>
      </div>
      <h4 id="results-title" class="d-none">{% trans "Results" %}</h4>
      <div id="results" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mb-2">
  <div class="col-lg-8 col-sm-12">
    <p>{% trans "Looking for an application we don't know yet?" %}</p>
  </div>
</div>

<div class="row justify-content-center mb-5">
  <div class="col-lg-8 col-sm-12">
    <div class="row justify-content-center">
      <div class="col-8 col-sm-7 col-md-6 col-xl-5 text-center mb-4">
        <a href="{% url 'analysis:submit' %}" class="btn btn-primary btn-block">{% trans "Perform a new analysis" %}</a>
      </div>
    </div>
  </div>
</div>
