{% extends "layout.html"%}
{% block content %}
<div class="container-fluid">
    {% if report.report.partial%}
        <h1>{{report.application.handle}} - <i class="small">partial report (no network analysis)</i></h1>
    {% else %}
        <h1>{{report.application.handle}}</h1>
    {% endif %}
    <hr>
    <div class="row">
        <div class="col col-lg-3">
            <h3>Application</h3>
            <div>
                <ul>
                    <li>Handle: <code>{{report.application.handle}}</code></li>
                    <li>Version: <code>{{report.application.version}}</code></li>
                    <li><a href="{{report.application.link}}">Google Play</a></li>
                </ul>
            </div>
        </div>
        <div class="col col-lg-3">
            <h3>Found trackers</h3>
            <div>
                <ul>
                    {% for tracker in report.report.trackers %}
                        <li><a href="/page/{{tracker|lower}}"><code>{{tracker}}</code></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <h3>APK info</h3>
            <div>
                <ul>
                    <li>Report date: <code>{{report.report.date}}</code></li>
                    <li>Name: <code>{{report.report.apk.name}}</code></li>
                    <li>sha256sum: <code>{{report.report.apk.sha256}}</code></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Permissions - <a href="https://developer.android.com/reference/android/Manifest.permission.html">📖</a></h3>
            <div>
                <ul>
                    {% for perm in report.application.permissions %}
                        <li><code>{{perm}}</code></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <h3>DNS queries</h3>
            <div>
                <table class="table">
                    {% for dns in report.report.network.dns %}
                        <tr><td><code>{{dns.query}}</code> </td>
                            <td> <code>{{dns.host}}</code></td>
                            <td> <a href="https://freegeoip.net/?q={{dns.host}}">🌍</a></td>
                            <td> <a href="http://whois.domaintools.com/{{dns.query}}">🔍</a> </td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Notable network activity</h3>
            <div>
                <ul>
                    {% for post in report.report.network.http.post %}
                        <h4>Destination URI</h4>
                        <code>{{post.uri}}</code>
                        <h4>Sent data</h4>
                        <div class="card small">
                            <pre>
                                {{post.data}}
                            </pre>
                            {% if post['URLENCODED-FORM'] %}
                                <pre>
                                    {{post['URLENCODED-FORM']}}
                                </pre>
                            {% endif %}
                            {% if post['JSON'] %}
                                <pre>
                                    {{post['JSON']}}
                                </pre>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}