<!doctype html>
<head>
    <link rel="stylesheet" href="/static/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/bootstrap.min.js" ></script>
</head>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Exodus</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/">Complete reports</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/allreports/1">Partial reports</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}