<!doctype html>
<head>
    <link rel="stylesheet" href="/static/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/bootstrap.min.js" ></script>
</head>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Exodus</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {{ page | safe }}
        </div>
    </div>
</div>