body {
    font-size: 0.9rem;
}
.badge.reports {
    min-width: 22px;
}
tr.permission_line {
    height:51px;
    overflow:hidden;
}
tr.permission_line > td {
    vertical-align:middle;
}
td.report {
    border: 0px;
    vertical-align: middle;
}

@media print {
  .alert-heading .btn-secondary {
    /* hide buttons */
    display: none;
  }

  .alert .row > .col:nth-last-child(1) {
    /* put the "Signed by" block below the title block, so the app name itself isn't wrapped */
    flex-basis: inherit;
  }

  .navbar-brand object {
    /* Firefox puts some huge padding around the logo for some reason */
    max-height: 54px;
  }
}
