.badge.reports {
    min-width: 22px;
}
tr.permission_line {
    height:51px;
    overflow:hidden;
}
tr.permission_line > td {
    vertical-align:middle;
}
td.report {
    border: 0px;
    vertical-align: middle;
}
li.nav-item.active > a {
  font-weight: bold;
  text-decoration: underline;
}
nav.navbar {
  font-size: 1rem !important;
}
h1.main-title {
  color: #684971;
  font-weight: bold;
  margin-bottom: 15px;
}
a.main-link {
  color: #684971;
  font-weight:bold;
}
a.link:after {
  content: url(/static/img/arrow-right.svg);
  padding-left: 10px;
  vertical-align: -10%;
}
a.report-link {
  color: #212529;
  font-weight: bold;
}
.black {
  color: #212529;
}

@media print {
  .alert-heading .btn-secondary {
    /* hide buttons */
    display: none;
  }

  .alert .row > .col:nth-last-child(1) {
    /* put the "Signed by" block below the title block, so the app name itself isn't wrapped */
    flex-basis: inherit;
  }

  .navbar-brand object {
    /* Firefox puts some huge padding around the logo for some reason */
    max-height: 54px;
  }
}
