{% extends "base.html" %}
{% load i18n %}
{% load markdown %}
{% block content %}
<div class="row justify-content-sm-center">
  <div class="col-md-8 col-12 text-center mb-4">
    <h1 class="main-title">
      {{ tracker.name }}
    </h1>
  </div>
</div>

<div class="row justify-content-sm-center">
  <div class="col-md-8 col-12 mb-4">
    {% trans "Present in:" %} <b>{{ count }} {% trans "application" %}{{ count|pluralize }}</b>
    <span class="badge badge-{{ tracker_class }}">{{ score }} %</span>
  </div>
  <div class="col-md-8 col-12 mb-4 text-right">
    <a class="link main-link" target="_blank" rel="noreferrer" href="{{ tracker.website }}">{% trans "Tracker web page" %}</a>
  </div>
</div>

<div class="row justify-content-sm-center">
  <div class="col-md-8 col-12 mb-4">
    {{ tracker.description | markdown | safe }}
  </div>
</div>

<div class="row justify-content-sm-center">
  <div class="col-md-8 col-12 mb-5">
    <h2>{% trans "Detection rules" %}</h2>
    {% trans "Code detection rule:" %} <code>{{ tracker.code_signature }}</code>
    <br>
    {% trans "Network detection rule:" %} <code>{{ tracker.network_signature }}</code>
  </div>
</div>

<div class="row justify-content-sm-center">
  <div class="col-md-8 col-12 mb-2">
    <h2>{% trans "Present in" %} {{ count }} {% trans "application" %}{{ count|pluralize }}</h2>
  </div>
</div>

{% for report in reports %}
  <div class="row justify-content-sm-center position-relative mb-2">
    <div class="col-md-1 col-2 my-auto">
      <img data-toggle="tooltip" title="{{ app.handle }}" src="/reports/{{ report.application.id }}/icon" width="50px" class="rounded" alt="{{ app.handle }}">
    </div>
    <div class="col-md-7 col-8 text-truncate position-static">
      <div>
        <a href="{% url 'reports:detail' report.id %}" class="stretched-link report-link">
          {% if report.application.name.strip %}
            {{ report.application.name }}
          {% else %}
            {{ report.application.handle }}
          {% endif %}
        </a>
      </div>
      <div class="small"><b>{{ report.application.version }}</b></div>
    </div>
  </div>
{% endfor %}

<div class="row justify-content-sm-center">
  <div class="col-md-8 col-12">
    {% include "paginator.html" %}
  </div>
</div>
{% endblock %}
