{% extends "base.html"%}
{% load i18n %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-lg-4">
        {% if trackers %}
            <div class="alert bg-light">
                <div class="alert-heading">
                    <h4><span class="badge badge-info">{{ trackers.count }}</span>
                        {% blocktrans count counter=trackers.count %}
                        Recognized tracker
                        {% plural %}
                        Recognized trackers
                        {% endblocktrans %}
                    </h4>
                </div>
                <hr>
                <ul>
                {% for tracker in trackers %}
                    <li><a href="{% url 'trackers:detail' tracker.id %}">{{ tracker.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
        <p>{% trans "No trackers are available" %}.</p>
        {% endif %}
        </div>
    </div>
{% endblock %}
