{% extends "base.html"%}
{% load i18n %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
        {% if trackers %}
                <div style="text-align:center">
                    <h3><span class="badge badge-info">{{ trackers.count }}</span>
                        {% blocktrans count counter=trackers.count %}
                        Recognized tracker
                        {% plural %}
                        Recognized trackers
                        {% endblocktrans %}
                    </h3>
                </div>
                <hr>
                <div class="row">
                <ul>
                {% for tracker in trackers %}
                    <li><a href="{% url 'trackers:detail' tracker.id %}">{{ tracker.name }}</a></li>
                {% endfor %}
                </ul>
                </div>
                <hr>
        {% else %}
            <p>{% trans "No trackers are available" %}.</p>
        {% endif %}
        </div>
    </div>
{% endblock %}
