{% extends "base/base.html"%}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
<div class="row justify-content-sm-center">
  <div class="col-md-8 col-12 text-center mb-4">
    <h1 id="main-title" class="main-title">
      {% trans "Analysis in progress..." %}
    </h1>
  </div>
</div>

<div class="row justify-content-sm-center">
  <div class="col-md-8 col-12 col-centered mb-4">
    <div id="loading" class="text-center">
      <div id="description" class="alert alert-info" role="alert">
        {% trans analysis.description %}
      </div>
      <p id="completed" class="text-center mt-5 d-none">
        <img src="{% static 'img/analysis_completed.png' %}" width="120">
      </p>
      <p id="report" class="mt-4 d-none">
        <a href="#" class="btn btn-primary">{% trans "See the report" %}</a>
      </p>
      <img id="snake" class="d-none w-200px" src="/static/img/loading.gif" alt="">
      <div id="refresh" class="text-muted small">
        {% trans "Will refresh automatically every 10 seconds." %}
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center mt-5">
  <div class="col-lg-8 col-sm-10 col-centered">
    <div class="text-center alert alert-light">
      <p>
        <a href="{% url 'organization' %}">Exodus Privacy</a>
        {% trans "is a non-profit organization which provides this service for free." %}
      </p>
      <a class="btn btn-outline-primary" href="https://exodus-privacy.eu.org/{% if LANGUAGE_CODE == 'fr' %}fr{% else %}en{% endif %}/page/contribute/" target="_blank" rel="noreferrer">{% trans "Help us!" %}</a>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script>
  const refresh = function () {
    jQuery.get("/analysis/{{analysis.id}}/json", function (rq) {
      jQuery("#description").removeClass("alert-danger alert-info")
      jQuery("#description").html(rq.description)
      if (rq.in_error) {
        jQuery("#description").addClass("alert-danger")
      } else {
        jQuery("#description").addClass("alert-info")
      }
      if (rq.processed) {
        jQuery("#snake").addClass('d-none')
        jQuery("#refresh").addClass('d-none')
        jQuery("#main-title").text("{% trans 'Analysis done!' %}")
        jQuery("#completed").removeClass('d-none')
        if (!rq.in_error) {
          jQuery("#report").children(":first").attr("href", "/reports/" + rq.report_id + "/")
          jQuery("#report").removeClass('d-none')
        }
      } else {
        jQuery("#snake").removeClass('d-none')
        jQuery("#report").addClass('d-none')
        setTimeout(function () {
          refresh()
        }, 10 * 1000);
      }
    })
  }
  refresh()
</script>
{% endblock %}
