{% extends "base/base.html"%}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
<div class="row justify-content-sm-center">
  <div class="col-md-8 col-12 text-center mb-4">
    <h1 class="main-title">
      {% trans "New analysis" %}
    </h1>
  </div>
</div>

<div class="row justify-content-sm-center">
  <div class="col-md-8 col-12">
    <p class="text-center mb-5">
      <img src="{% static 'img/analysis_new.png' %}" width="120">
    </p>
    <form method="post" enctype="multipart/form-data" action="{% url 'analysis:submit' %}">
      <div class="form-group">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger small">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}
        {% endif %}
        <label for="handle"><b>{% trans "Google Play URL of the application" %}</b></label>
        <div class="input-group input-group-lg mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="handle_help">
              <small><img src="/static/img/search.svg"></small>
            </span>
          </div>
          <input type="text" class="form-control" id="handle" name="handle" aria-describedby="handle_help" required>
        </div>
        <p class="form-text text-muted mb-4">
          {% trans "Free applications only. Works also with the application handle." %}
        </p>

        <div id="reports" style="display: none" class="alert alert-info">
        </div>

        <div class="row justify-content-center mb-5">
          <div class="col-8 col-sm-7 col-md-6 col-xl-5">
            <button type='submit' onclick="show_spinner()" class="btn btn-primary btn-block">{% trans "Perform analysis" %}</button>
          </div>
        </div>

        {% if upload_allowed %}
          <p class="text-right">
            <a class="link main-link" href="{% url 'analysis:upload' %}">{% trans "I prefer to upload an application" %}</a>
          </p>
        {% endif %}

        <div id="loading" class="text-center" style="display:none;">
          <img style="width:200px;" src="/static/img/loading.gif" alt="">
          <div class="alert alert-light" role="alert">
            {% trans "The analysis could take a long time, you will be automatically redirected to the report." %}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-sm-center mt-5">
  <div class="col-md-8 col-12 col-centered">
    <div class="text-center alert alert-light">
      <p>
        <a href="{% url 'organization' %}">Exodus Privacy</a>
        {% trans "is a non-profit organization which provides this service for free." %}
      </p>
      <a class="btn btn-outline-primary" href="https://exodus-privacy.eu.org/{{ LANGUAGE_CODE }}/page/contribute/" target="_blank" rel="noreferrer">{% trans "Help us!" %}</a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
// Spinner
var show_spinner=function(){
  if( $("#handle").val() ) {
    var s = document.getElementById("loading")
    if(s != undefined){
      s.style.display = "block"
    }
  }
}
jQuery("#handle").on("input", function() {
    // Extract handle from Google Play url
    const regex = /id=((?:\w+\.)+\w+)/gmi;
    const handle = jQuery.trim(jQuery(this).val())
    jQuery("#reports").hide()
    if(handle.startsWith("https://play.google.com")){
        var match = regex.exec(handle)
        while (match != null) {
          if(match[1]){
            jQuery(this).val(match[1])
          }
          return
        }
    } else {
        const regex_pk = /^((?:\w+\.)+\w+)$/gmi;
        if(regex_pk.test(handle)){
            // TODO: Use an API endpoint which returns the latest report
            jQuery.get("/api/search/"+handle, function(rq){
                if(rq[handle]){
                    jQuery("#reports").html('')
                    jQuery("#reports").show()

                    var p = document.createElement('p')
                    var name = handle
                    if(rq[handle].name != '') {
                        name = rq[handle].name
                    }
                    p.innerHTML = "<b>{% trans  'This application has already been analyzed!' %}</b>"
                    jQuery("#reports").append(p)

                    var latest_report = rq[handle].reports.shift()
                    var report_date = latest_report.creation_date.substring(0, 10)
                    var p2 = document.createElement('p')
                    p2.innerHTML = name + ' - {% trans "analyzed on" %} '+report_date+' - <a href="/reports/'+latest_report.id+'/">{% trans "Go to the latest report" %}</a>'
                    jQuery("#reports").append(p2)

                    var p3 = document.createElement('p')
                    p3.innerHTML = "{% trans 'If you think εxodus has not yet analyzed the latest version of this application, feel free to submit the analysis.' %}"
                    jQuery("#reports").append(p3)
                }
            })
        }
    }
});

</script>
{% endblock %}
