{% extends "base.html"%}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-6 col-sm-10 col-centered">
        <form method='post' enctype='multipart/form-data' action="{% url 'analysis:submit' %}">
            <div class="form-group jumbotron">
                {% csrf_token %}
                <h2 class="text-center">Analyze an application</h2>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger small">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% endif %}
                <input type="text" class="form-control text-center" id="handle" name="handle" aria-describedby="handle_help"
                       placeholder="fr.meteo">
                <small id="handle_help" class="form-text text-muted text-center">You can find the handle in the Google
                    Play URL of the application <i>i.e.</i> <br> <code>https://play.google.com/store/apps/details?id=<b>fr.meteo</b></code>
                </small>
                <br>

                <div id="reports" style="display: none" class="alert alert-info">
                </div>

                <p class="text-center">
                    <button type='submit' onclick="show_spinner()" class="btn btn-lg btn-primary">Perform analysis</button>
                </p>
                <br>
                <br>
                <div id="loading" class="text-center" style="display:none;">
                    <img style="width:200px;" src="/static/img/loading.gif" alt="">
                    <div class="alert alert-light" role="alert">
                        The analysis could take a long time, you will be automatically redirected to the report.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-lg-6 col-sm-10 col-centered">
        <div class="text-center alert alert-warning">
            <p>
            <a href="https://exodus-privacy.eu.org/" target="_blank">Exodus Privacy</a> is a non-profit
            organization which provides this service for free.
            </p>
            <a class="btn btn-info" href="https://exodus-privacy.eu.org/#help" target="_blank">Help us!</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
// Spinner
var show_spinner=function(){
  s = document.getElementById("loading")
  if(s != undefined){
    s.style.display = "block"
  }
}
jQuery("#handle").on("change paste keyup", function() {
    // Extract handle from Google Play url
    const regex = /id=((?:\w+\.)+\w+)/gmi;
    const handle = jQuery.trim(jQuery(this).val())
    jQuery("#reports").hide()
    if(handle.startsWith("https://play.google.com")){
        match = regex.exec(handle)
        while (match != null) {
          if(match[1]){
            jQuery(this).val(match[1])
          }
          return
        }
    } else {
        const regex_pk = /^((?:\w+\.)+\w+)$/gmi;
        jQuery("#reports").html('')
        if(regex_pk.test(handle)){
            jQuery.get("/api/search/"+handle, function(rq){
                if(rq[handle]){
                    jQuery("#reports").show()
                    var p = document.createElement('p')
                    var name = handle
                    if(rq[handle].name != '') {
                        name = rq[handle].name
                    }
                    p.innerHTML = rq[handle].reports.length + " report(s) found for <b>" + name + "</b>"
                    jQuery("#reports").append(p)
                    var ul = document.createElement('ul')
                    rq[handle].reports.forEach(function(r) {
                        var li = document.createElement('li')
                        const version = r.version.substring(0, Math.min(8,r.version.length));
                        li.innerHTML = name + ' version '+r.version+' - <a href="/reports/'+r.id+'/">Go to the report</a>'
                        ul.appendChild(li)
                    })
                    jQuery("#reports").append(ul)
                    var p2 = document.createElement('p')
                    p2.classList.add('small')
                    p2.innerHTML = 'If you think εxodus has not yet analyzed the latest version of this application, \
                    feel-free to submit the analysis.'
                    jQuery("#reports").append(p2)
                }
            })
        }
    }
});

</script>
{% endblock %}